<html>

<head>
    <title>Random Word Generator</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body style="margin-left: 25px; margin-top: 10px;">
    <h1>Generate a Random Word!</h1>

    <h3>Random Word (attempt # {{ request.session.attempt }})</h3>
    <div style="border: 1px solid black; width: 500px;">
      <h3>{{randomWord}}</h3>
    </div>
    <br>
    <form action="/create" method="POST">
        {% csrf_token %}
        <input type="submit" value="Generate">
    </form>
    <form action="/reset" method="POST">
        {% csrf_token %}
        <input type="submit" value="Reset Count">
    </form>

</body>

</html>