<html>
    <head>
       <title>Survey</title>
    </head>
    <body>
        <h1>Submitted Info:</h1>
        <p>
            <b>Name:</b> @ViewBag.name
            <br>
            <b>Dojo Location:</b> @ViewBag.location
            <br>
            <b>Favorite Language:</b> @ViewBag.favLanguage
            <br>
            <b>Comments:</b> @ViewBag.comment
        </p>
    </body>
</html>