<html>

<head>
  <title>Disappearing Ninja</title>
  <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

  <h1>It's the Teenage Mutant Ninja Turtes!</h1>
  <img src="/static/images/tmnt.png">

</body>

</html>