<html>

<head>
  <title>Disappearing Ninja</title>
  <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  {% if turtleColor == "blue" %}
    <h1>It's Leonardo!</h1>
		<img src="/static/images/leonardo.jpg">
	{% endif %}
  {% if turtleColor =="red" %}
    <h1>It's Raphael!</h1>
    <img src="/static/images/raphael.jpg">
	{% endif %}
  {% if turtleColor =="orange" %}
    <h1>It's Michelangelo!</h1>
    <img src="/static/images/michelangelo.jpg">
	{% endif %}
  {% if turtleColor =="purple" %}
    <h1>It's Donatello!</h1>
    <img src="/static/images/donatello.jpg">
	{% endif %}
  {% if (turtleColor != "blue") and (turtleColor != "red") and (turtleColor != "orange") and (turtleColor != "purple")%}
    <h1>Cut it out!</h1>
    <img src="/static/images/notapril.jpg">
	{% endif %}
</body>

</html>