*{
    padding: 5px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
}

a{
    color: rgb(175, 29, 85);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(211, 124, 157);
}

#navigation{
    width: 400px;
    text-align: center;
    margin: 0px auto;
}

#wrapper{
    width: 800px;
    text-align: center;
    margin: 0px auto;
}