<html>

<head>
  <title>Semi-Restful Users</title>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <style>
    table,
    tr,
    td,
    th {
      border: 1px solid black;
      padding: 10px;
    }
  </style>
</head>

<body style="padding-left: 40px; padding-top: 20px;">
    <h2>Edit User {{user.id}}</h2>
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} {% endif %} style="color: red;">
    {{ message }}
  </p>
  {% endfor %} {% endif %}
  <form action="/users/{{user.id}}/update" method="post">
    {% csrf_token %}
    <p>First Name:
      <input type="text" name="first_name" value={{user.first_name}}>
    </p>
    <p>Last Name:
      <input type="text" name="last_name" value={{user.last_name}}>
    </p>
    <p>Email:
      <input type="text" name="email" value={{user.email}}>
    </p>
    <p>
      <input type="submit" value="Update" class="btn btn-success">
    </p>
  </form>
  <p>
    <a href="/users">Go Back</a>

  </p>
</body>

</html>