<!DOCTYPE html>
<html lang="en">

</html>
<html>
<head>
    <title>Flask</title>
    <meta charset="UTF-8">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(){
            console.log('The jQuery is wokring!');
        }
    </script>
</head>
<body>

    <h1>About Me</h1>
    <p>My name is Nat! I do code and art and stuff.</p>

</body>
</html>